#!/bin/sh

#Management dependencies
source  ../../../../common_src/bash_dialogs/say.sh
source  ../../../../common_src/bash_dialogs/ask.sh
source  ../../../../common_src/bash_dialogs/newFolder.sh

#Bash launchers
#source ../../src/sh/doSomething.sh

say "Do something"

RESULTS_FLDR=../results/$(basename `pwd`)

cd ../../bin

#End of experiments
cd - > /dev/null

response=$(ask "Do you want open results folder?")
if [[ $response =~ ^(yes|y)$ ]]; then
  cygstart .
fi


